<launch>
    <include file="$(find cusub_perception_bringup)/launch/perception_sub.launch" />
    <include file="$(find perception_control)/launch/perception_control.launch" ns="leviathan"/>
    <include file="$(find cusub_common_bringup)/launch/leviathan_sub.launch" />
    <include file="$(find cusub_cortex_bringup/launch/cortex.launch" />
</launch>