<launch>

	<arg name="subname" default="leviathan"/>

	<group ns="$(arg subname)">

		<!-- Power Monitoring -->

		<!-- Perception Nodelet -->
		<node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager"/>

		<!-- Occam -->
		<node pkg="nodelet" type="nodelet" name="occam" args="load ros_indigosdk/occam standalone_nodelet" output="screen">
			<param name="frame_id" value="leviathan/description/occam"/>
		</node>

		<!-- Down Cam -->
		<include file="$(find pointgrey_camera_driver)/launch/camera.launch" />

		<!-- Torpedo Camera -->
		<node pkg="nodelet" type="nodelet" name="torpedocam" args="load cv_camera/CvCameraNodelet /leviathan/standalone_nodelet" ns="cusub_common" />
		<!-- TODO Load/Unload scripts Nodelet crash debug -->

	</group>

</launch>
