<launch>

  <node pkg="rosbag" type="record" name="octagon_bag"
    args="record -o /home/leviathan/bags/octagon/
      /leviathan/cusub_common/occam/image0
      /leviathan/cusub_common/occam/image1
      /leviathan/cusub_common/occam/image4
      /leviathan/cusub_common/downcam/image_color"
      />

</launch>
