<launch>

  <node pkg="rosbag" type="record" name="path_bag"
    args="record -o /home/leviathan/bags/path/
      /leviathan/cusub_common/occam/image0
      /leviathan/cusub_common/occam/image1
      /leviathan/cusub_common/occam/image2
      /leviathan/cusub_common/occam/image3
      /leviathan/cusub_common/occam/image4
      /leviathan/cusub_common/downcam/image_color"
      />

</launch>
