<launch>

  <node pkg="rosbag" type="record" name="torpedo_bag"
    args="record -o /home/leviathan/bags/torpedo/
      /leviathan/cusub_common/occam/image0
      /leviathan/cusub_common/occam/image1
      /leviathan/cusub_common/occam/image4
      /leviathan/cusub_common/torpedocam/image_raw"
      />

</launch>
