<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="Dropper_robot">
  <link
    name="Dropper/base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.00412" />
        <inertia
          ixx="0.00000004"
          ixy="0.0"
          ixz="0.0"
          iyy="0.00000004"
          iyz="0.0"
          izz="0.00000004" />
      </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
        <material name="black">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>

  <gazebo>
    <plugin filename="libuuv_underwater_object_ros_plugin.so" name="uuv_plugin">
    <fluid_density>1028.0</fluid_density>
    <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
    <debug>0</debug>
    <link name="Dropper/base_link">
        <fluid_density>1028</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <neutrally_buoyant>0</neutrally_buoyant>
        <volume>0.000000524</volume>

        <box>
          <width>0.01</width>
          <length>0.01</length>
          <height>0.01</height>
        </box>

        <!-- Center of buoyancy -->
        <center_of_buoyancy>0 0 0</center_of_buoyancy>

        <hydrodynamic_model>
          <type>sphere</type>
          <radius>0.005</radius>
        </hydrodynamic_model>
      </link>
    </plugin>
  </gazebo>

</robot>
