[submodule "uuv_simulator"]
	path = cusub_sim/uuv_simulator
	url = https://github.com/uuvsimulator/uuv_simulator.git


[submodule "darknet_ros/darknet"]
	path = cusub_perception/darknet_ros/darknet
	url = https://github.com/pjreddie/darknet
