<launch>

  <arg name="robot_name" default="leviathan"/>

  <group ns="sensor_fusion">

    <node name="$(arg robot_name)_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
        <rosparam command="load" file="$(find cusub_common_bringup)/config/$(arg robot_name)_ekf.yaml" />
    </node>

  </group>

</launch>
