<launch>
    <group ns="leviathan">

        <param name="robot_description"
               command="$(find xacro)/xacro.py '$(find leviathan_description)/robots/default.xacro' namespace:=leviathan/description" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
            <param name="robot_description" value="/leviathan/robot_description" />
            <param name="publish_frequency" value="5" />
        </node>

        <node name="leviathan_map_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true" ns="cusub_common">
            <rosparam command="load" file="$(find cusub_common_bringup)/config/leviathan_map_ekf.yaml" />
            <remap from="odometry/filtered"  to="odometry/filtered_map" />
        </node>

        <node name="leviathan_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true" ns="cusub_common">
            <rosparam command="load" file="$(find cusub_common_bringup)/config/leviathan_ekf.yaml" />
        </node>

        <node pkg="tf" type="static_transform_publisher" name="leviathan_depth_odom_broadcaster"
              args="0 0 0 0 0 0 leviathan/description/odom leviathan/description/depth_odom_frame 100"/>

        <node pkg="tf" type="static_transform_publisher" name="leviathan_depth_map_broadcaster"
              args="0 0 0 0 0 0 leviathan/description/map leviathan/description/depth_map_frame 100"/>

        <include file="$(find motor_controllers)/launch/controller_matrix.launch"/>
        <include file="$(find depth_sensor)/launch/depth_sensor.launch" />
        <include file="$(find dvl)/launch/dvl.launch"/>
        <include file="$(find pololu_controller)/launch/pololu_sub.launch"/>
        <include file="$(find sparton_imu)/launch/AHRS-8.launch"/>

	<node pkg="actuator" type="ActuatorService.py" name="actuator" ns="cusub_common" />

        <include file="$(find waypoint_navigator)/launch/waypoint_navigator.launch"/>

        <group ns="cusub_common">
            <!-- <include file="$(find ros_indigosdk)/launch/occam_onecam.launch"/> -->
            <!-- <include file="$(find pointgrey_camera_driver)/launch/camera.launch"/> -->
        </group>

    </group>
</launch>
