<launch>
    <group ns="leviathan">

        <node name="leviathan_map_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true" ns="cusub_common">
            <rosparam command="load" file="$(find cusub_common_bringup)/config/leviathan_map_ekf.yaml" />
            <remap from="odometry/filtered"  to="odometry/filtered_map" />
        </node>

        <node name="leviathan_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true" ns="cusub_common">
            <rosparam command="load" file="$(find cusub_common_bringup)/config/leviathan_ekf.yaml" />
        </node>

        <node pkg="tf" type="static_transform_publisher" name="leviathan_depth_odom_broadcaster"
              args="0 0 0 0 0 0 leviathan/description/odom leviathan/description/depth_odom_frame 100"/>

        <node pkg="tf" type="static_transform_publisher" name="leviathan_depth_map_broadcaster"
              args="0 0 0 0 0 0 leviathan/description/map leviathan/description/depth_map_frame 100"/>

        <include file="$(find gazebo_drivers)/launch/leviathan_gazebo_drivers.launch"/>

        <include file="$(find motor_controllers)/launch/vel_controller_matrix.launch">
            <arg name="pid_type" default="sim"/>
        </include>

        <include file="$(find waypoint_navigator)/launch/waypoint_navigator_vel.launch"/>

        <node pkg="motor_controllers" type="roll_pitch_zeroing.py" name="zero_roll_pitch" />
        
        <group ns="description">
            <rosparam file="$(find leviathan_description)/config/leviathan_control.yaml" command="load"/>
            <node name="controller_spawner_lev" pkg="controller_manager" type="spawner" respawn="false"
                args="leviathan_joint_state_controller outer_controller inner_controller"/>
        </group>

    </group>
</launch>