<launch>
    <group ns="triton">

        <param name="robot_description"
               command="$(find xacro)/xacro.py '$(find triton_description)/robots/default.xacro' namespace:=triton/description" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
            <param name="robot_description" value="/triton/robot_description" />
            <param name="publish_frequency" value="5" />
        </node>

        <node name="map_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true" ns="cusub_common">
            <rosparam command="load" file="$(find cusub_common_bringup)/config/triton_map_ekf.yaml" />
            <remap from="odometry/filtered"  to="odometry/filtered_map" />
        </node>

        <node name="odom_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true" ns="cusub_common">
            <rosparam command="load" file="$(find cusub_common_bringup)/config/triton_odom_ekf.yaml" />
        </node>

        <node pkg="tf" type="static_transform_publisher" name="triton_depth_odom_broadcaster"
              args="0 0 0 0 0 0 triton/description/odom triton/description/depth_odom_frame 100"/>

        <node pkg="tf" type="static_transform_publisher" name="triton_depth_map_broadcaster"
              args="0 0 0 0 0 0 triton/description/map triton/description/depth_map_frame 100"/>

	<!--<include file="$(find jetson_csi_cam)/jetson_csi_cam.launch" />-->
	<node pkg="depth_sensor" type="DepthSensor.py" name="depth_sensor" ns="cusub_common"/>
	<!--<include file="$(find depth_sensor)/launch/depth_sensor.launch">
		<arg name="subname" default="triton"/>
	</include>-->

	<node name="imu" pkg="pni_trax_imu" type="pni_trax_imu.py" />
	<include file="$(find pololu_controller)/launch/pololu_sub.launch">
		<arg name="subname" default="triton"/>
	</include>

	<node name="triton_gazebo_thrust_odom" pkg="gazebo_drivers" type="thrust_odom.py" />

        <include file="$(find motor_controllers)/launch/controller_matrix.launch">
            <arg name="pid_type" default="real"/>
            <arg name="subname" default="triton"/>
        </include>

        <include file="$(find waypoint_navigator)/launch/waypoint_navigator.launch"/>

    </group>
</launch>
