<launch>

  <node name="triton_gazebo_depth" pkg="leviathan_gazebo_drivers" type="depth_sensor.py">
    <param name="namespace" value="triton"/>
  </node>

  <node name="triton_gazebo_motor_control" pkg="leviathan_gazebo_drivers" type="motor_control.py">
    <param name="namespace" value="triton"/>
  </node>

</launch>
