<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- params -->
    <arg name="use_tiny"            default="1"/>
    <arg name="detect_sleep_time"   default="0.0"/>
    <arg name="show_image"          default="false"/>
    <arg name="detection_threshold" default="0.06"/>
    <include ns="darknet_ros" file="$(find darknet_config)/configure_darknet.launch">
      <arg name="use_tiny"            value="$(arg use_tiny)"/>
      <arg name="detect_sleep_time"   value="$(arg detect_sleep_time)" />
      <arg name="show_image"          value="$(arg show_image)" />
      <arg name="detection_threshold" value="$(arg detection_threshold)" />
    </include>
  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <remap from="darknet_ros/bounding_boxes"          to="cusub_perception/darknet_ros/bounding_boxes" />
    <remap from="/camera/rgb/image_raw"               to="occam/image0"/>
  </node>

</launch>
