<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="Torpedo_robot">
  <link
    name="Torpedo/base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0444" />
        <inertia
          ixx="0.00003"
          ixy="0.0"
          ixz="0.0"
          iyy="0.00003"
          iyz="0.0"
          izz="0.0" />
      </inertial>
    <visual>
      <origin
        xyz="0 0 -0.0629"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robosub_descriptions/models/Torpedo/Torpedo.stl" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.0629"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robosub_descriptions/models/Torpedo/Torpedo.stl" />
      </geometry>
    </collision>
  </link>

  <gazebo>
    <plugin filename="libuuv_underwater_object_ros_plugin.so" name="uuv_plugin">
    <fluid_density>1028.0</fluid_density>
    <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
    <debug>0</debug>
    <link name="Torpedo/base_link">
        <fluid_density>1028</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <neutrally_buoyant>0</neutrally_buoyant>
        <volume>0.00004</volume>

        <box>
          <width>0.025</width>
          <length>0.117</length>
          <height>0.025</height>
        </box>

        <!-- Center of buoyancy -->
        <center_of_buoyancy>0 0 0</center_of_buoyancy>
        <hydrodynamic_model>

            <type>fossen</type>

            <added_mass>
              0    0    0    0     0    0
              0    0    0    0     0    0
              0    0    0    0     0    0
              0    0    0    0     0    0
              0    0    0    0     0    0
              0    0    0    0     0    0
            </added_mass>

            <linear_damping>
              -0.12 -0.12 -0.02 0 0 0
            </linear_damping>

        </hydrodynamic_model>
      </link>
    </plugin>
  </gazebo>

</robot>
