<launch>

      <arg name="namespace" default="leviathan" />

      <node name="Pose_PID" pkg="controller" type="Pose_PID.py" output="screen">
        <param name="namespace" value="/$(arg namespace)" />
      </node>
      <node name="PID_Pololu" pkg="controller" type="PID_Pololu_matrix.py" output="screen">
        <param name="namespace" value="/$(arg namespace)" />
      </node>

     <node name="pitch_PID" pkg="pid" type="controller" >
        <param name="node_name" value="pitch_PID" />
        <param name="topic_from_controller" value="/$(arg namespace)/local_control/pid/pitch/control_effort" />
        <param name="topic_from_plant" value="/$(arg namespace)/local_control/pid/pitch/state" />
        <param name="setpoint_topic" value="/$(arg namespace)/local_control/pid/pitch/setpoint" />
        <param name="Kp" value="20.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
        <param name="rate" value="25" />
        <param name="upper_limit" value="100" />
        <param name="lower_limit" value="-100" />
        <param name="windup_limit" value=".001" />
        <param name="diagnostic_period" value="0.25" />
        <param name="max_loop_frequency" value="25.0" />
        <param name="min_loop_frequency" value="25.0" />
      </node>
      <node name="roll_PID" pkg="pid" type="controller" >
         <param name="node_name" value="roll_PID" />
         <param name="topic_from_controller" value="/$(arg namespace)/local_control/pid/roll/control_effort" />
         <param name="topic_from_plant" value="/$(arg namespace)/local_control/pid/roll/state" />
         <param name="setpoint_topic" value="/$(arg namespace)/local_control/pid/roll/setpoint" />
         <param name="Kp" value="20.0" />
         <param name="Ki" value="0.0" />
         <param name="Kd" value="0.0" />
         <param name="rate" value="25" />
         <param name="upper_limit" value="100" />
         <param name="lower_limit" value="-100" />
         <param name="windup_limit" value=".001" />
         <param name="diagnostic_period" value="0.25" />
         <param name="max_loop_frequency" value="25.0" />
         <param name="min_loop_frequency" value="25.0" />
       </node>
       <node name="depth_PID" pkg="pid" type="controller" >
          <param name="node_name" value="depth_PID" />
          <param name="topic_from_controller" value="/$(arg namespace)/local_control/pid/depth/control_effort" />
          <param name="topic_from_plant" value="/$(arg namespace)/local_control/pid/depth/state" />
          <param name="setpoint_topic" value="/$(arg namespace)/local_control/pid/depth/setpoint" />
          <param name="Kp" value="100.0" />
          <param name="Ki" value="0.0" />
          <param name="Kd" value="50.0" />
          <param name="rate" value="25" />
          <param name="upper_limit" value="100" />
          <param name="lower_limit" value="-100" />
          <param name="windup_limit" value=".001" />
          <param name="diagnostic_period" value="0.25" />
          <param name="max_loop_frequency" value="25.0" />
          <param name="min_loop_frequency" value="25.0" />
        </node>
        <!-- All of the PID controllers are below this -->
        <node pkg="topic_tools" type="mux" name="yaw_mux" args="/$(arg namespace)/local_control/mux/yaw/control_effort /$(arg namespace)/local_control/pid/yaw/control_effort /$(arg namespace)/local_control/cv/yaw/control_effort">
          <remap from="mux" to="yaw_mux"/>
          <param name="initial_topic " value="/$(arg namespace)/local_control/pid/yaw/control_effort" />
        </node>
        <node name="yaw_PID" pkg="pid" type="controller" >
           <param name="node_name" value="yaw_PID" />
           <param name="topic_from_controller" value="/$(arg namespace)/local_control/pid/yaw/control_effort" />
           <param name="topic_from_plant" value="/$(arg namespace)/local_control/pid/yaw/state" />
           <param name="setpoint_topic" value="/$(arg namespace)/local_control/pid/yaw/setpoint" />
           <param name="Kp" value="500.0" />
           <param name="Ki" value="250.0" />
           <param name="Kd" value="0.0" />
           <param name="rate" value="25" />
           <param name="upper_limit" value="100" />
           <param name="lower_limit" value="-100" />
           <param name="windup_limit" value=".001" />
           <param name="diagnostic_period" value="0.25" />
           <param name="max_loop_frequency" value="25.0" />
           <param name="min_loop_frequency" value="25.0" />
           <param name="angle_error" value="true" />
         </node>
         <node name="yaw_cv" pkg="bangbang" type="bangbang.py">
           <param name="setpoint_topic" value="/$(arg namespace)/local_control/cv/yaw/setpoint" />
           <param name="state_topic" value="/$(arg namespace)/local_control/cv/yaw/state" />
           <param name="control_effort_topic" value="/$(arg namespace)/local_control/cv/yaw/control_effort" />
           <param name="deadzone_size" value="30" />
           <param name="left_bang_effort" value="40" />
           <param name="right_bang_effort" value="-40" />
         </node>
        <node name="drive_PID" pkg="pid" type="controller" >
           <param name="node_name" value="drive_PID" />
           <param name="topic_from_controller" value="/$(arg namespace)/local_control/pid/drive/control_effort" />
           <param name="topic_from_plant" value="/$(arg namespace)/local_control/pid/drive/state" />
           <param name="setpoint_topic" value="/$(arg namespace)/local_control/pid/drive/setpoint" />
           <param name="Kp" value="30.0" />
           <param name="Ki" value="0.0" />
           <param name="Kd" value="0.0" />
           <param name="rate" value="25" />
           <param name="upper_limit" value="100" />
           <param name="lower_limit" value="-100" />
           <param name="windup_limit" value=".001" />
           <param name="diagnostic_period" value="0.25" />
           <param name="max_loop_frequency" value="25.0" />
           <param name="min_loop_frequency" value="25.0" />
         </node>
         <node name="strafe_PID" pkg="pid" type="controller" >
            <param name="node_name" value="strafe_PID" />
            <param name="topic_from_controller" value="/$(arg namespace)/local_control/pid/strafe/control_effort" />
            <param name="topic_from_plant" value="/$(arg namespace)/local_control/pid/strafe/state" />
            <param name="setpoint_topic" value="/$(arg namespace)/local_control/pid/strafe/setpoint" />
            <param name="Kp" value="50.0" />
            <param name="Ki" value="0.0" />
            <param name="Kd" value="0.0" />
            <param name="rate" value="25" />
            <param name="upper_limit" value="100" />
            <param name="lower_limit" value="-100" />
            <param name="windup_limit" value=".001" />
            <param name="diagnostic_period" value="0.25" />
            <param name="max_loop_frequency" value="25.0" />
            <param name="min_loop_frequency" value="25.0" />
          </node>
</launch>
