<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="dropper_garlic">

  <!-- Loading file with sensor macros -->
  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>

  <xacro:macro name="dropper_garlic_base" params="namespace">

    <static>true</static>

    <xacro:default_pose_3d namespace="${namespace}" parent_link="${namespace}/base_link" />

    <link name="${namespace}/base_link">
      <inertial>
        <origin
          xyz="0.0 0.0 1.0"
          rpy="0 1.57 0" />
        <mass
          value="0.2" />
        <inertia
          ixx="1.0E-5"
          ixy="0.0"
          ixz="0.0"
          iyy="1.0E-5"
          iyz="0.0"
          izz="1.0E-5" />
      </inertial>
      <visual>
        <origin
          xyz="0 0.5 0"
          rpy="1.57 0 0" />
        <geometry>
          <mesh filename="model://dropper_garlic/dropper_garlic.dae" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0.5 0"
          rpy="1.57 0 0" />
        <geometry>
          <mesh filename="model://dropper_garlic/dropper_garlic.dae" />
        </geometry>
      </collision>
    </link>

    <gazebo>
      <static>true</static>
    </gazebo>

  </xacro:macro>

  <xacro:dropper_garlic_base namespace="$(arg namespace)"/>

</robot>
