<!-- Typically don't want to launch the localizer by itself, defeats purpose of nodeleting -->
<launch>
    <rosparam command="load" file="$(find localizer)/config/localizer_config.yaml"/>
    <node pkg="nodelet" type="nodelet" name="localizer_nodelet" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="localizer" args="load localizer/Localizer localizer_nodelet" output="screen"/>
</launch>