<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Console launch prefix -->
  <arg name="config_filename" default="mission_config.yaml"/>
  <arg name="launch_prefix" default=""/>
      
  <rosparam command="load" file="$(find ros_indigosdk)/launch/camera.yaml"/>
    


  <node name="localizer_client" pkg="localizer" type="localizer_client.py" output="screen" />
  <rosparam command="load" file="$(find state_machine)/config/$(arg config_filename)"/>

  <!-- START GATE -->
  <node name="gate_pnp_color" pkg="localizer" type="gate_pnp_color_srv.py" output="screen" />
  <node name="gate_pnp_bb" pkg="localizer" type="gate_pnp_bb_srv.py" output="screen" />
  <node name="gate_midpoint" pkg="localizer" type="gate_midpoint_srv.py" output="screen" />
  <node name="dice_box" pkg="localizer" type="dice_box_srv.py" output="screen" />

</launch>
