<!-- Typically don't want to launch the localizer by itself, defeats purpose of nodeleting -->
<launch>
    <rosparam command="load" file="$(find localizer)/config/localizer_config.yaml"/>
    <node pkg="localizer" type="localizer_node" output="screen" name="localizer_node" />
    <!-- <node pkg="nodelet" type="nodelet" name="localizer" args="load localizer/Localizer localizer_nodelet" output="screen"/> -->
</launch>