<launch>
    <arg name="detection_topic" default="cusub_perception/darknet_ros/bounding_boxes" />
    <arg name="image_topic" default="cusub_common/occam/image0" />
    <arg name="detection_thresh" default="0.8" />
n    <arg name="debug_mode" default="true" />
    
    <node pkg="nodelet" type="nodelet" name="pc_standalone_nodelet" args="manager" output="screen"/>
    <rosparam command="load" file="$(find perception_control)/config/perception_control.yaml"/>
    <!-- <node pkg="nodelet" type="nodelet" name="orbit" args="load perception_control/Orbit orbit_standalone_nodelet" output="screen"/> -->
    <!-- Visual Servoing -->
    <node pkg="nodelet" type="nodelet" name="visualservo" args="load perception_control/VisualServo pc_standalone_nodelet" output="screen"/>
    <!-- Path Orientation -->
    <node pkg="nodelet" type="nodelet" name="path_orient" args="load perception_control/PathOrient pc_standalone_nodelet" output="screen"/>
    <!-- Optical Flow Tracking -->
<!--    <node pkg="nodelet" type="nodelet" name="tracking" args="load perception_control/Tracking pc_standalone_nodelet">
        <param name="detection_topic" value="$(arg detection_topic)"/>
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="detection_thresh" value="$(arg detection_thresh)"/>
        <param name="debug_mode" value="$(arg debug_mode)"/>
    </node> -->

</launch>