<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Some examples of sensors that can be added to the vehicle frame.
    Set the origin of the sensor frames correctly for your application
    Look into the sensor macros in the package uuv_sensor_ros_plugins/urdf for
    more examples or add you own custom sensor units.
  -->

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- DVL  -->
  <xacro:default_dvl namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 1.57"/>
  </xacro:default_dvl>

  <!-- Pressure  -->
  <xacro:default_pressure namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_pressure>

  <!-- IMU  -->
  <xacro:default_imu namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 -1.57"/>
  </xacro:default_imu>

  <!-- PING  -->
  <xacro:macro name="multibeam_sonar_2d"
    params="namespace suffix parent_link topic mass update_rate
      samples fov range_min range_max range_stddev mesh
      *inertia *origin *visual">
    <!-- Sensor link -->
    <link name="${namespace}/sonar${suffix}_link">
      <inertial>
        <xacro:insert_block name="inertia" />
        <mass value="${mass}" />
        <origin xyz="0 0 0" rpy="0 0 0" />
      </inertial>

      <xacro:insert_block name="visual" />
      <xacro:no_collision/>
    </link>

  <joint name="${namespace}_sonar${suffix}_joint" type="revolute">
    <xacro:insert_block name="origin" />
    <parent link="${parent_link}" />
    <child link="${namespace}/sonar${suffix}_link" />
    <limit upper="0" lower="0" effort="0" velocity="0" />
    <axis xyz="1 0 0"/>
  </joint>

  <gazebo reference="${namespace}/sonar${suffix}_link">
    <sensor type="gpu_ray" name="sonar${suffix}">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>${update_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${samples}</samples>
            <resolution>1</resolution>
            <min_angle>-${0.5*fov}</min_angle>
            <max_angle>${0.5*fov}</max_angle>
          </horizontal>
          <vertical>
            <samples>${samples}</samples>
            <resolution>1</resolution>
            <min_angle>-${0.5*fov}</min_angle>
            <max_angle> ${0.5*fov}</max_angle>
          </vertical>
        </scan>
        <range>
          <min>${range_min}</min>
          <max>${range_max}</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>${range_stddev}</stddev>
        </noise>
      </ray>
      <plugin name="sonar${suffix}_controller" filename="libgazebo_ros_velodyne_gpu_laser.so">
        <topicName>${topic}</topicName>
        <frameName>sonar${suffix}_link</frameName>
          <min_range>${range_min}</min_range>
          <max_range>${range_max}</max_range>
          <gaussianNoise>0.0</gaussianNoise>
      </plugin>
    </sensor>
  </gazebo>
  </xacro:macro>

  <xacro:multibeam_sonar_2d
    namespace="${namespace}"
    suffix=""
    parent_link="${namespace}/base_link"
    topic="sonar"
    mass="0.02"
    update_rate="15"
    samples="32"
    fov="0.523599"
    range_min="1.0"
    range_max="30.0"
    range_stddev="0.027"
    mesh="">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
    <origin xyz="0 0 0" rpy="0 0 0.0"/>
    <visual>
      <geometry>
        <mesh filename="file://$(find uuv_sensor_ros_plugins)/meshes/p900.dae" scale="1 1 1"/>
      </geometry>
    </visual> 
    </xacro:multibeam_sonar_2d>

  <!--
  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="0" frame="occam0_frame">
    <axis xyz="0 0 0" />
    <origin xyz="0.055 0 0.22" rpy="0 0 0"/>
  </xacro:occam_camera_macro>

  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="1" frame="occam1_frame">
    <axis xyz="0 0 1" />
    <origin xyz="0.0169 -0.0523 0.22" rpy="0 0 -1.2566370"/>
  </xacro:occam_camera_macro>

  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="2" frame="occam2_frame">
    <axis xyz="0 0 1" />
    <origin xyz="-0.0444 -0.0323 0.22" rpy="0 0 -2.5132741"/>
  </xacro:occam_camera_macro>

  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="3" frame="occam3_frame">
    <axis xyz="0 0 1" />
    <origin xyz="-0.0444 0.0323 0.22" rpy="0 0 -3.7699111"/>
  </xacro:occam_camera_macro>

  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="4" frame="occam4_frame">
    <axis xyz="0 0 1" />
    <origin xyz="0.0169 0.0523 0.22" rpy="0 0 -5.0265482"/>
  </xacro:occam_camera_macro>

  <xacro:downcam_camera_macro robot_namespace="${namespace}" camera_id="5" frame="downcam_frame">
    <axis xyz="0 0 1" />
    <origin xyz="0 0 -0.1" rpy="0 1.57 0"/>
  </xacro:downcam_camera_macro>

  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="6" frame="gripper_cam_frame">
    <axis xyz="0 0 1" />
    <origin xyz="0.38 -0.14 -0.12" rpy="0 0.3 0"/>
  </xacro:occam_camera_macro>

  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="7" frame="torpedo_cam_frame">
    <axis xyz="0 0 1" />
    <origin xyz="0.35 0.0 0.1" rpy="0 0.0 0"/>
  </xacro:occam_camera_macro>-->

  <!-- Stereo Down -->
  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="8" frame="stereo_down_left_cam_frame">
    <axis xyz="0 0 1" />
    <origin xyz="0.0  0.05 -0.1" rpy="0 1.57 0"/>
  </xacro:occam_camera_macro>

  <xacro:occam_camera_macro robot_namespace="${namespace}" camera_id="9" frame="stereo_down_right_cam_frame">
    <axis xyz="0 0 1" />
    <origin xyz="0.0 -0.05 -0.1" rpy="0 1.57 0"/>
  </xacro:occam_camera_macro>

<!--
  <xacro:regular_camera_plugin_macro
       namespace="${namespace}"
       suffix=""
       parent_link="${namespace}/base_link"
       topic="camera"
       mass="0.0015"
       update_rate="15"
       hfov="1.8125"
       width="768"
       height="492"
       stddev="0.02"
       scale="0.5">
       <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.00" iyz="0.0" izz="0.0" />
       <origin xyz="0.0 0.2 0.0" rpy="0 0 1.5707963"/>
   </xacro:regular_camera_plugin_macro>
-->
</robot>
