<launch>

  <arg name="namespace" default="leviathan"/>

  <node name="gazebo_leviathan_motor_control" pkg="gazebo_drivers" type="motor_control.py"/>

  <node name="gazebo_actuators" pkg="gazebo_drivers" type="ActuatorService.py" ns="cusub_common">
    <param name="robotname" value="$(arg namespace)"/>
  </node>

</launch>
