<launch>

  <!-- Obstacle positions -->
  <arg name="SG_x" default="-18.0"/>
  <arg name="SG_y" default="-22.0"/>
  <arg name="SG_z" default="0.0"/>
  <arg name="SG_yaw" default="-2.08"/>

  <arg name="PM_x" default="-22.40"/>
  <arg name="PM_y" default="-21.00"/>
  <arg name="PM_z" default="-4.4"/>
  <arg name="PM_yaw" default="-0.68"/>

  <arg name="PM2_x" default="-28.06"/>
  <arg name="PM2_y" default="-14.84"/>
  <arg name="PM2_z" default="-4.4"/>
  <arg name="PM2_yaw" default="1.94"/>

  <arg name="BJ_x" default="-25.45"/>
  <arg name="BJ_y" default="-16.5"/>
  <arg name="BJ_z" default="-2.1"/>
  <arg name="BJ_yaw" default="-2.26"/>

  <arg name="BT_x" default="-28.97"/>
  <arg name="BT_y" default="-17.99"/>
  <arg name="BT_z" default="-4.7"/>
  <arg name="BT_yaw" default="-1.92"/>

  <arg name="TO_x" default="-28.11"/>
  <arg name="TO_y" default="-4.01"/>
  <arg name="TO_z" default="-3.24"/>
  <arg name="TO_yaw" default="0.17"/>

  <arg name="DR_x" default="-33.44"/>
  <arg name="DR_y" default="-11.42"/>
  <arg name="DR_z" default="-4.2"/>
  <arg name="DR_yaw" default="-2.27"/>

  <arg name="OC_x" default="-38.37"/>
  <arg name="OC_y" default="-0.09"/>
  <arg name="OC_z" default="0.0"/>
  <arg name="OC_yaw" default="0.42"/>

  <arg name="CO1_x" default="-39.44"/>
  <arg name="CO1_y" default="-2"/>
  <arg name="CO1_z" default="-4.7"/>
  <arg name="CO1_yaw" default="-2.69"/>

  <arg name="CO2_x" default="-36.46"/>
  <arg name="CO2_y" default="-0.46"/>
  <arg name="CO2_z" default="-4.7"/>
  <arg name="CO2_yaw" default="-2.69"/>

  <include file="$(find robosub_descriptions)/launch/TRANSDEC.launch">
    <arg name="paused" default="true"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="StartGate"/>
      <arg name="x" default="$(arg SG_x)"/>
      <arg name="y" default="$(arg SG_y)"/>
      <arg name="z" default="$(arg SG_z)"/>
      <arg name="yaw" default="$(arg SG_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="PathMarker"/>
      <arg name="x" default="$(arg PM_x)"/>
      <arg name="y" default="$(arg PM_y)"/>
      <arg name="z" default="$(arg PM_z)"/>
      <arg name="yaw" default="$(arg PM_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="PathMarker"/>
      <arg name="x" default="$(arg PM2_x)"/>
      <arg name="y" default="$(arg PM2_y)"/>
      <arg name="z" default="$(arg PM2_z)"/>
      <arg name="yaw" default="$(arg PM2_yaw)"/>
      <arg name="postfix" default="_2"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="vampire_stake"/>
      <arg name="x" default="$(arg TO_x)"/>
      <arg name="y" default="$(arg TO_y)"/>
      <arg name="z" default="$(arg TO_z)"/>
      <arg name="yaw" default="$(arg TO_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="buoy_jiangshi"/>
      <arg name="x" default="$(arg BJ_x)"/>
      <arg name="y" default="$(arg BJ_y)"/>
      <arg name="z" default="$(arg BJ_z)"/>
      <arg name="yaw" default="$(arg BJ_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="triangular_buoy"/>
      <arg name="x" default="$(arg BT_x)"/>
      <arg name="y" default="$(arg BT_y)"/>
      <arg name="z" default="$(arg BT_z)"/>
      <arg name="yaw" default="$(arg BT_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="dropper_garlic"/>
      <arg name="x" default="$(arg DR_x)"/>
      <arg name="y" default="$(arg DR_y)"/>
      <arg name="z" default="$(arg DR_z)"/>
      <arg name="yaw" default="$(arg DR_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="Octagon"/>
      <arg name="x" default="$(arg OC_x)"/>
      <arg name="y" default="$(arg OC_y)"/>
      <arg name="z" default="$(arg OC_z)"/>
      <arg name="yaw" default="$(arg OC_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="coffin"/>
      <arg name="x" default="$(arg CO1_x)"/>
      <arg name="y" default="$(arg CO1_y)"/>
      <arg name="z" default="$(arg CO1_z)"/>
      <arg name="yaw" default="$(arg CO1_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="coffin"/>
      <arg name="x" default="$(arg CO2_x)"/>
      <arg name="y" default="$(arg CO2_y)"/>
      <arg name="z" default="$(arg CO2_z)"/>
      <arg name="yaw" default="$(arg CO2_yaw)"/>
      <arg name="postfix" default="_2"/>
  </include>
</launch>
