<launch>

  <!-- Obstacle positions -->
  <arg name="SG_x" default="21"/>
  <arg name="SG_y" default="-21"/>
  <arg name="SG_z" default="0.0"/>
  <arg name="SG_yaw" default="-0.92"/>

  <arg name="PM_x" default="21.80"/>
  <arg name="PM_y" default="-20.40"/>
  <arg name="PM_z" default="-4.4"/>
  <arg name="PM_yaw" default="0.34"/>

  <arg name="PM2_x" default="30.4"/>
  <arg name="PM2_y" default="-11.7"/>
  <arg name="PM2_z" default="-4.4"/>
  <arg name="PM2_yaw" default="0.3"/>

  <arg name="BJ_x" default="32.0"/>
  <arg name="BJ_y" default="-14.0"/>
  <arg name="BJ_z" default="-2.2"/>
  <arg name="BJ_yaw" default="2.45"/>

  <arg name="BT_x" default="27.6"/>
  <arg name="BT_y" default="-11.9"/>
  <arg name="BT_z" default="-4.7"/>
  <arg name="BT_yaw" default="-1.38"/>

  <arg name="TO_x" default="27.00"/>
  <arg name="TO_y" default="7.5"/>
  <arg name="TO_z" default="-3.0"/>
  <arg name="TO_yaw" default="0.17"/>

  <arg name="DR_x" default="34.9"/>
  <arg name="DR_y" default="-3.2"/>
  <arg name="DR_z" default="-4.2"/>
  <arg name="DR_yaw" default="-0.3"/>

  <arg name="OC_x" default="27.4"/>
  <arg name="OC_y" default="20.7"/>
  <arg name="OC_z" default="0.0"/>
  <arg name="OC_yaw" default="-0.72"/>

  <arg name="CO1_x" default="25.3"/>
  <arg name="CO1_y" default="18.3"/>
  <arg name="CO1_z" default="-4.7"/>
  <arg name="CO1_yaw" default="-2.27"/>

  <arg name="CO2_x" default="27.6"/>
  <arg name="CO2_y" default="20.9"/>
  <arg name="CO2_z" default="-4.7"/>
  <arg name="CO2_yaw" default="-2.25"/>

  <include file="$(find robosub_descriptions)/launch/TRANSDEC.launch">
    <arg name="paused" default="false"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="StartGate"/>
      <arg name="x" default="$(arg SG_x)"/>
      <arg name="y" default="$(arg SG_y)"/>
      <arg name="z" default="$(arg SG_z)"/>
      <arg name="yaw" default="$(arg SG_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="PathMarker"/>
      <arg name="x" default="$(arg PM_x)"/>
      <arg name="y" default="$(arg PM_y)"/>
      <arg name="z" default="$(arg PM_z)"/>
      <arg name="yaw" default="$(arg PM_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="PathMarker"/>
      <arg name="x" default="$(arg PM2_x)"/>
      <arg name="y" default="$(arg PM2_y)"/>
      <arg name="z" default="$(arg PM2_z)"/>
      <arg name="yaw" default="$(arg PM2_yaw)"/>
      <arg name="postfix" default="_2"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="vampire_stake"/>
      <arg name="x" default="$(arg TO_x)"/>
      <arg name="y" default="$(arg TO_y)"/>
      <arg name="z" default="$(arg TO_z)"/>
      <arg name="yaw" default="$(arg TO_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="buoy_jiangshi"/>
      <arg name="x" default="$(arg BJ_x)"/>
      <arg name="y" default="$(arg BJ_y)"/>
      <arg name="z" default="$(arg BJ_z)"/>
      <arg name="yaw" default="$(arg BJ_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="triangular_buoy"/>
      <arg name="x" default="$(arg BT_x)"/>
      <arg name="y" default="$(arg BT_y)"/>
      <arg name="z" default="$(arg BT_z)"/>
      <arg name="yaw" default="$(arg BT_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="dropper_garlic"/>
      <arg name="x" default="$(arg DR_x)"/>
      <arg name="y" default="$(arg DR_y)"/>
      <arg name="z" default="$(arg DR_z)"/>
      <arg name="yaw" default="$(arg DR_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="Octagon"/>
      <arg name="x" default="$(arg OC_x)"/>
      <arg name="y" default="$(arg OC_y)"/>
      <arg name="z" default="$(arg OC_z)"/>
      <arg name="yaw" default="$(arg OC_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="coffin"/>
      <arg name="x" default="$(arg CO1_x)"/>
      <arg name="y" default="$(arg CO1_y)"/>
      <arg name="z" default="$(arg CO1_z)"/>
      <arg name="yaw" default="$(arg CO1_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="coffin"/>
      <arg name="x" default="$(arg CO2_x)"/>
      <arg name="y" default="$(arg CO2_y)"/>
      <arg name="z" default="$(arg CO2_z)"/>
      <arg name="yaw" default="$(arg CO2_yaw)"/>
      <arg name="postfix" default="_2"/>
  </include>
  </launch>