<launch>

  <arg name="SG_x" default="4.0"/>
  <arg name="SG_y" default="0.0"/>
  <arg name="SG_z" default="-0.5"/>
  <arg name="SG_yaw" default="1.57"/>

  <!-- Start the a underwater world simulation scenario -->
  <include file="$(find robosub_descriptions)/launch/divewell.launch"/>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="StartGate"/>
      <arg name="x" default="$(arg SG_x)"/>
      <arg name="y" default="$(arg SG_y)"/>
      <arg name="z" default="$(arg SG_z)"/>
      <arg name="yaw" default="$(arg SG_yaw)"/>
  </include>

  <node name="publish_world_models"
        pkg="uuv_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            meshes:
              StartGate_1:
                mesh: package://robosub_descriptions/models/StartGate/StartGate.dae
                pose:
                  position: [$(arg SG_x), $(arg SG_y), $(arg SG_z)]
                  orientation: [0, 0, $(arg SG_yaw)]
        </rosparam>
  </node>

</launch>
