<launch>

  <arg name="TASK_x" default="4.0"/>
  <arg name="TASK_y" default="0.0"/>
  <arg name="TASK_z" default="-0.5"/>
  <arg name="TASK_yaw" default="1.57" />

  <arg name="PM1_x" default="-2.4"/>
  <arg name="PM1_y" default="1.8"/>
  <arg name="PM1_z" default="-3.5"/>
  <arg name="PM1_yaw" default="-0.75"/>

  <arg name="DROP_x" default="4.0"/>
  <arg name="DROP_y" default="0.0"/>
  <arg name="DROP_z" default="-3.5"/>
  <arg name="DROP_yaw" default="-0.75"/>

  <!-- Start the a underwater world simulation scenario -->
  <include file="$(find robosub_descriptions)/launch/divewell.launch"/>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="PathMarker"/>
      <arg name="x" default="$(arg PM1_x)"/>
      <arg name="y" default="$(arg PM1_y)"/>
      <arg name="z" default="$(arg PM1_z)"/>
      <arg name="yaw" default="$(arg PM1_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="dropper_garlic"/>
      <arg name="x" default="$(arg DROP_x)"/>
      <arg name="y" default="$(arg DROP_y)"/>
      <arg name="z" default="$(arg DROP_z)"/>
      <arg name="yaw" default="$(arg DROP_yaw)"/>
  </include>

  <!-- <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="StartGate"/>
      <arg name="x" default="$(arg TASK_x)"/>
      <arg name="y" default="$(arg TASK_y)"/>
      <arg name="z" default="$(arg TASK_z)"/>
      <arg name="yaw" default="$(arg TASK_yaw)"/>
  </include> -->

    <!-- <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="buoy_jiangshi"/>
      <arg name="x" default="$(arg TASK_x)"/>
      <arg name="y" default="$(arg TASK_y)"/>
      <arg name="z" default="$(arg TASK_z)"/>
      <arg name="yaw" default="$(arg TASK_yaw)"/>
  </include> -->

    <!-- <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="triangular_buoy"/>
      <arg name="x" default="$(arg TASK_x)"/>
      <arg name="y" default="$(arg TASK_y)"/>
      <arg name="z" default="$(arg TASK_z)"/>
      <arg name="yaw" default="$(arg TASK_yaw)"/>
  </include> -->

  <!-- <rosparam file="$(find robosub_descriptions)/config/triangular_bouy_control.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	   output="screen" ns="/triangular_buoy_1" args="joint_state_controller buoy_velocity_controller"/>
  <node pkg="rostopic" type="rostopic" name="bouy_speed" args="pub /triangular_buoy_1/buoy_velocity_controller/command std_msgs/Float64 &quot;data: 0.4&quot;"/> -->

  <node name="publish_world_models"
        pkg="uuv_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            <!-- meshes:
              StartGate_1:
                mesh: package://robosub_descriptions/models/StartGate/StartGate.dae
                pose:
                  position: [$(arg TASK_x), $(arg TASK_y), $(arg TASK_z)]
                  orientation: [0, 0, $(arg TASK_yaw)] -->
            meshes:
              Jiangshi_1:
                mesh: package://robosub_descriptions/models/buoy_jiangshi/buoy.dae
                pose:
                  position: [$(arg TASK_x), $(arg TASK_y), $(arg TASK_z)]
                  orientation: [0, 0, $(arg TASK_yaw)]
              <!-- TriangleBuoy_1:
                mesh: package://robosub_descriptions/models/triangular_buoy/triangular_buoy.dae
                pose:
                  position: [$(arg TASK_x), $(arg TASK_y), $(arg TASK_z)]
                  orientation: [0, 0, $(arg TASK_yaw)] 
              PathMarker_1:
                mesh: package://robosub_descriptions/models/PathMarker/PathMarker.dae
                pose:
                  position: [$(arg PM1_x), $(arg PM1_y), $(arg PM1_z)]
                  orientation: [1.57, 0, $(arg PM1_yaw)]-->
            <!-- meshes: 
              DropperGarlic_1:
                mesh: package://robosub_descriptions/models/dropper_garlic/dropper_garlic.dae
                pose:
                  position: [$(arg TASK_x), $(arg TASK_y), $(arg TASK_z)]
                  orientation: [1.57, 0, $(arg TASK_yaw)] -->
        </rosparam>
  </node>

</launch>
