<launch>

  <arg name="TASK_x" default="4.0"/>
  <arg name="TASK_y" default="0.0"/>
  <arg name="TASK_z" default="-0.5"/>
  <arg name="TASK_yaw" default="3.14"/>

  <!-- Start the a underwater world simulation scenario -->
  <include file="$(find robosub_descriptions)/launch/divewell.launch"/>

  <!-- <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="StartGate"/>
      <arg name="x" default="$(arg TASK_x)"/>
      <arg name="y" default="$(arg TASK_y)"/>
      <arg name="z" default="$(arg TASK_z)"/>
      <arg name="yaw" default="$(arg TASK_yaw)"/>
  </include> -->

    <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="buoy_jiangshi"/>
      <arg name="x" default="$(arg TASK_x)"/>
      <arg name="y" default="$(arg TASK_y)"/>
      <arg name="z" default="$(arg TASK_z)"/>
      <arg name="yaw" default="$(arg TASK_yaw)"/>
  </include>

  <node name="publish_world_models"
        pkg="uuv_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            <!-- meshes:
              StartGate_1:
                mesh: package://robosub_descriptions/models/StartGate/StartGate.dae
                pose:
                  position: [$(arg TASK_x), $(arg TASK_y), $(arg TASK_z)]
                  orientation: [0, 0, $(arg TASK_yaw)] -->
            meshes:
              Jiangshi_1:
                mesh: package://robosub_descriptions/models/buoy_jiangshi/buoy.dae
                pose:
                  position: [$(arg TASK_x), $(arg TASK_y), $(arg TASK_z)]
                  orientation: [0, 0, $(arg TASK_yaw)]
        </rosparam>
  </node>

</launch>
