<launch>

  <arg name="upload_leviathan" default="true"/>
  <arg name="upload_triton" default="false"/>

  <!-- Obstacle positions -->
  <arg name="D1_x" default="-1.75"/>
  <arg name="D1_y" default="2.75"/>
  <arg name="D1_z" default="-1"/>
  <arg name="D1_yaw" default="-0.25"/>

  <arg name="D2_x" default="-1.0"/>
  <arg name="D2_y" default="3.5"/>
  <arg name="D2_z" default="-1"/>
  <arg name="D2_yaw" default="-0.2"/>

  <arg name="D5_x" default="-1.0"/>
  <arg name="D5_y" default="2.5"/>
  <arg name="D5_z" default="-1"/>
  <arg name="D5_yaw" default="0.78"/>

  <arg name="D6_x" default="-1.75"/>
  <arg name="D6_y" default="3.25"/>
  <arg name="D6_z" default="-1"/>
  <arg name="D6_yaw" default="0.4"/>

  <arg name="SG_x" default="4.0"/>
  <arg name="SG_y" default="0.0"/>
  <arg name="SG_z" default="-0.5"/>
  <arg name="SG_yaw" default="1.57"/>

  <arg name="PM1_x" default="2.0"/>
  <arg name="PM1_y" default="0.2"/>
  <arg name="PM1_z" default="-3.5"/>
  <arg name="PM1_yaw" default="-0.75"/>

  <arg name="PM2_x" default="-3.6"/>
  <arg name="PM2_y" default="2.3"/>
  <arg name="PM2_z" default="-3.5"/>
  <arg name="PM2_yaw" default="-2.7"/>

  <arg name="R_x" default="-7.0"/>
  <arg name="R_y" default="-4.5"/>
  <arg name="R_z" default="-3.5"/>
  <arg name="R_yaw" default="0"/>

  <!-- Robot positions -->
  <arg name="leviathan_x" default="-7.5"/>
  <arg name="leviathan_y" default="1"/>
  <arg name="leviathan_z" default="-1"/>
  <arg name="leviathan_yaw" default="0"/>

  <arg name="triton_x" default="-7.5"/>
  <arg name="triton_y" default="-1"/>
  <arg name="triton_z" default="-1"/>
  <arg name="triton_yaw" default="0"/>

  <!-- Start the a underwater world simulation scenario -->
  <include file="$(find robosub_descriptions)/launch/divewell.launch"/>

  <group if="$(arg upload_leviathan)">
    <include file="$(find leviathan_description)/launch/upload.launch">
        <arg name="x" default="$(arg leviathan_x)"/>
        <arg name="y" default="$(arg leviathan_y)"/>
        <arg name="z" default="$(arg leviathan_z)"/>
        <arg name="yaw" default="$(arg leviathan_yaw)"/>
    </include>
    <node pkg="tf" type="static_transform_publisher" name="world_leviathan_odom_broadcaster" args="$(arg leviathan_x) $(arg leviathan_y) 0 0 0 0 world leviathan/odom 50" />
  </group>

  <group if="$(arg upload_triton)">
    <include file="$(find triton_description)/launch/upload.launch">
        <arg name="x" default="$(arg triton_x)"/>
        <arg name="y" default="$(arg triton_y)"/>
        <arg name="z" default="$(arg triton_z)"/>
        <arg name="yaw" default="$(arg triton_yaw)"/>
    </include>
    <node pkg="tf" type="static_transform_publisher" name="world_triton_odom_broadcaster" args="$(arg triton_x) $(arg triton_y) 0 0 0 0 world triton/odom 50" />
  </group>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="StartGate"/>
      <arg name="x" default="$(arg SG_x)"/>
      <arg name="y" default="$(arg SG_y)"/>
      <arg name="z" default="$(arg SG_z)"/>
      <arg name="yaw" default="$(arg SG_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="Dice1"/>
      <arg name="x" default="$(arg D1_x)"/>
      <arg name="y" default="$(arg D1_y)"/>
      <arg name="z" default="$(arg D1_z)"/>
      <arg name="yaw" default="$(arg D1_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="Dice2"/>
      <arg name="x" default="$(arg D2_x)"/>
      <arg name="y" default="$(arg D2_y)"/>
      <arg name="z" default="$(arg D2_z)"/>
      <arg name="yaw" default="$(arg D2_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="Dice5"/>
      <arg name="x" default="$(arg D5_x)"/>
      <arg name="y" default="$(arg D5_y)"/>
      <arg name="z" default="$(arg D5_z)"/>
      <arg name="yaw" default="$(arg D5_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="Dice6"/>
      <arg name="x" default="$(arg D6_x)"/>
      <arg name="y" default="$(arg D6_y)"/>
      <arg name="z" default="$(arg D6_z)"/>
      <arg name="yaw" default="$(arg D6_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="PathMarker"/>
      <arg name="x" default="$(arg PM1_x)"/>
      <arg name="y" default="$(arg PM1_y)"/>
      <arg name="z" default="$(arg PM1_z)"/>
      <arg name="yaw" default="$(arg PM1_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="PathMarker"/>
      <arg name="postfix" default="_2"/>
      <arg name="x" default="$(arg PM2_x)"/>
      <arg name="y" default="$(arg PM2_y)"/>
      <arg name="z" default="$(arg PM2_z)"/>
      <arg name="yaw" default="$(arg PM2_yaw)"/>
  </include>

  <include file="$(find robosub_descriptions)/launch/upload.launch">
      <arg name="obstacle" default="Roulette"/>
      <arg name="x" default="$(arg R_x)"/>
      <arg name="y" default="$(arg R_y)"/>
      <arg name="z" default="$(arg R_z)"/>
      <arg name="yaw" default="$(arg R_yaw)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find leviathan_description)/launch/Leviathan_Startgate_Divewell_Gazebo.rviz" />

  <node name="publish_world_models"
        pkg="uuv_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            meshes:
              StartGate_1:
                mesh: package://robosub_descriptions/models/StartGate/StartGate.dae
                pose:
                  position: [$(arg SG_x), $(arg SG_y), $(arg SG_z)]
                  orientation: [0, 0, $(arg SG_yaw)]
              PathMarker_1:
                mesh: package://robosub_descriptions/models/PathMarker/PathMarker.dae
                pose:
                  position: [$(arg PM1_x), $(arg PM1_y), $(arg PM1_z)]
                  orientation: [1.57, 0, $(arg PM1_yaw)]
              Dice1_1:
                mesh: package://robosub_descriptions/models/Dice1/Dice1.dae
                pose:
                  position: [$(arg D1_x), $(arg D1_y), $(arg D1_z)]
                  orientation: [0, 0, $(arg D1_yaw)]
              Dice2_1:
                mesh: package://robosub_descriptions/models/Dice2/Dice2.dae
                pose:
                  position: [$(arg D2_x), $(arg D2_y), $(arg D2_z)]
                  orientation: [0, 0, $(arg D2_yaw)]
              Dice5_1:
                mesh: package://robosub_descriptions/models/Dice5/Dice5.dae
                pose:
                  position: [$(arg D5_x), $(arg D5_y), $(arg D5_z)]
                  orientation: [0, 0, $(arg D5_yaw)]
              Dice6_1:
                mesh: package://robosub_descriptions/models/Dice6/Dice6.dae
                pose:
                  position: [$(arg D6_x), $(arg D6_y), $(arg D6_z)]
                  orientation: [0, 0, $(arg D6_yaw)]
              PathMarker_2:
                mesh: package://robosub_descriptions/models/PathMarker/PathMarker.dae
                pose:
                  position: [$(arg PM2_x), $(arg PM2_y), $(arg PM2_z)]
                  orientation: [1.57, 0, $(arg PM2_yaw)]
              Roulette:
                mesh: package://robosub_descriptions/models/Roulette/Roulette.dae
                pose:
                  position: [$(arg R_x), $(arg R_y), $(arg R_z)]
                  orientation: [1.57, 0, $(arg R_yaw)]
        </rosparam>
  </node>

</launch>
