<launch>
        <arg name="x" default="8.6"/>
        <arg name="y" default="-28.0"/>
        <arg name="z" default="-2"/>
        <arg name="yaw" default="-1.5"/>
        <arg name="namespace" default="leviathan/description" />

        <include file="$(find leviathan_description)/launch/upload.launch">
            <arg name="x" default="$(arg x)"/>
            <arg name="y" default="$(arg y)"/>
            <arg name="z" default="$(arg z)"/>
            <arg name="yaw" default="$(arg yaw)"/>
            <arg name="namespace" default="$(arg namespace)"/>
        </include>

        <node pkg="tf" type="static_transform_publisher" name="world_leviathan_odom_broadcaster" args="0 0 0 0 0 0 world $(arg namespace)/map 50" />

</launch>