<launch>
    <include file="$(find stabilization)/launch/stabilization.launch" />
    <include file="$(find pololu_controller)/launch/pololu_sub.launch" />
    <include file="$(find sensor_fusion)/../launch/sensor.launch" />
    <include file="$(find mapper)/launch/mapper.launch" />
    <!--include file="$(find state_machine)/launch/state_machine.launch" /-->
    <!--node pkg="rosbag" type="record" name="sub_rosbag"
       args=" -o /home/leviathan/Final_Build/bag -a -x '.*compressed.*' " /-->
</launch>
