<launch>
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="darknet_drawer" args="load darknet_multiplexer/DarknetDrawer standalone_nodelet" output="screen">
      <rosparam command="load" ns="class_names" file="$(find darknet_config)/yaml/class_names.txt"/>
    </node>
</launch>