<!-- Typically don't want to launch the multiplexer by itself, defeats purpose of nodeleting -->
<launch>
    <rosparam command="load" file="$(find darknet_multiplexer)/config/darknet_multiplexer.yaml"/>
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="darknet_multiplexer" args="load darknet_multiplexer/Multiplexer standalone_nodelet" output="screen"/>
</launch>