<launch>

    <arg name="leviathan" default="true"/>
    <arg name="triton" default="false"/>

    <arg name="environment" default="divewell_all_tasks"/> <!-- enviroment to launch into: transdec, divewell, etc. -->

    <!-- Leviathan Controls/SensorFusion -->
    <group if="$(arg leviathan)">
        <include file="$(find pid_controller)/launch/controller_matrix.launch">
            <arg name="namespace" default="leviathan"/>
            <arg name="setpoint" default="false"/>
        </include>
        <include file="$(find cusub_common_bringup)/launch/ekf.launch">
            <arg name="robot_name" default="leviathan"/>
        </include>
        <node pkg="tf" type="static_transform_publisher" name="leviathan_depth_broadcaster" args="0 0 0 0 0 0 leviathan/odom leviathan/depth_frame 100"/>
        <include file="$(find leviathan_gazebo_drivers)/launch/leviathan_gazebo_drivers.launch"/>

        <rosparam file="$(find leviathan_description)/config/leviathan_control.yaml" command="load"/>
        <node name="controller_spawner_lev" pkg="controller_manager" type="spawner" respawn="false"
            ns="/leviathan" args="leviathan_joint_state_controller outer_controller inner_controller"/>

    </group>

    <!-- Triton Controls/SensorFusion -->
    <group if="$(arg triton)">
        <include file="$(find pid_controller)/launch/controller_matrix.launch">
            <arg name="namespace" default="triton"/>
            <arg name="setpoint" default="false"/>
        </include>
        <include file="$(find cusub_common_bringup)/launch/ekf.launch">
            <arg name="robot_name" default="triton"/>
        </include>
        <node pkg="tf" type="static_transform_publisher" name="triton_depth_broadcaster" args="0 0 0 0 0 0 triton/odom triton/depth_frame 100"/>
        <include file="$(find leviathan_gazebo_drivers)/launch/triton_gazebo_drivers.launch"/>
    </group>

    <group if="$(eval arg('environment')=='divewell_all_tasks')">
        <include file="$(find cusub_sim_bringup)/launch/divewell_all_task.launch">
            <arg name="upload_leviathan" default="$(arg leviathan)"/>
            <arg name="upload_triton" default="$(arg triton)"/>
        </include>
    </group>

    <group if="$(eval arg('environment')=='divewell_startgate')">
        <include file="$(find cusub_sim_bringup)/launch/divewell_startgate.launch"/>
    </group>

    <group if="$(eval arg('environment')=='transdec')">
        <include file="$(find cusub_sim_bringup)/launch/TRANSDEC_21.launch"/>
    </group>

</launch>
