<launch>
  <group ns="drivers">
    <include file="$(find depth_sensor)/launch/depth_sensor.launch"/>
    <include file="$(find sparton_imu)/launch/AHRS-8.launch" />
    <include file= "$(find dvl)/launch/dvl.launch" />
    </group>
    <include file="$(find pololu_controller)/launch/pololu_sub.launch" />
   <include file="$(find ros_indigosdk)/launch/occam_onecam.launch" />
</launch>
