<launch>
  <arg name="sub" default="leviathan" />
  <arg name="show_image" default="false" />
  <arg name="fakeyolo" default="false"/> 
  
  <group ns="$(arg sub)">

    
    <arg name="launch_prefix" default=""/>
    <arg name="detect_sleep_time" default="0.0"/>
    <!-- Config and weights folder. -->
    <arg name="yolo_weights_path"          default="$(find darknet_cv)/launch/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="$(find darknet_cv)/launch/yolo_network_config/cfg"/>
    <!-- Load parameters -->
    <rosparam command="load" ns="darknet_ros" file="$(find darknet_cv)/launch/yolo_network_config/ros.yaml"/>
    <rosparam command="load" ns="darknet_ros" file="$(find darknet_cv)/launch/yolo_network_config/robosub1CustomModel.yaml"/>

    <!-- Configurations -->
    <rosparam command="load" file="$(find localizer)/config/localizer_config.yaml"/>
    <rosparam command="load" file="$(find darknet_multiplexer)/config/darknet_multiplexer.yaml"/>

    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="darknet_multiplexer" args="load darknet_multiplexer/Multiplexer standalone_nodelet" output="screen" unless="$(arg fakeyolo)" />
    <node pkg="nodelet" type="nodelet" name="darknet_drawer" args="load darknet_multiplexer/DarknetDrawer standalone_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="localizer" args="load localizer/Localizer standalone_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="darknet_ros" args="load darknet_ros/YoloObjectDetector standalone_nodelet" output="screen" unless="$(arg fakeyolo)">
        <remap from="darknet_ros/bounding_boxes" to="cusub_perception/darknet_ros/bounding_boxes" />
        <param name="yolo_model/threshold/value"          value="0.06" />
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="detect_sleep_time"     value="$(arg detect_sleep_time)" />
        <remap from="/camera/rgb/image_raw"       to="cusub_perception/darknet_multiplexer/out"/>
        <param name="show_image" value="$(arg show_image)"/>
    </node>
    <include file="$(find gazebo_drivers)/launch/fakeyolo.launch" if="$(arg fakeyolo)" >
      <arg name="config_filename" value="fakeyolo_2019.yaml" />
      <arg name="show_points" value="$(arg show_image)" />
    </include>
  </group>
</launch>