<launch>
  <arg name="sub" default="leviathan" />
  <arg name="fakeyolo" default="false"/> 
  
  <group ns="$(arg sub)">
    <!-- Configurations -->
    <rosparam command="load" file="$(find localizer)/config/localizer_config.yaml"/>
    <rosparam command="load" file="$(find darknet_multiplexer)/config/darknet_multiplexer.yaml"/>
    <!-- dynamic yolo params -->
    <arg name="use_tiny"            default="1"/>
    <arg name="detect_sleep_time"   default="0.0"/>
    <arg name="show_image"          default="false"/>
    <arg name="detection_threshold" default="0.06"/>
    <include ns="darknet_ros" file="$(find darknet_config)/launch/configure_darknet.launch">
      <arg name="use_tiny"            value="$(arg use_tiny)"/>
      <arg name="detect_sleep_time"   value="$(arg detect_sleep_time)" />
      <arg name="show_image"          value="$(arg show_image)" />
      <arg name="detection_threshold" value="$(arg detection_threshold)" />
    </include>

    <!-- Nodelets -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
    <!-- Localizer -->
    <node pkg="nodelet" type="nodelet" name="localizer" args="load localizer/Localizer standalone_nodelet" output="screen"/>
    <!-- Multiplexer -->
    <node pkg="nodelet" type="nodelet" name="darknet_multiplexer" args="load darknet_multiplexer/Multiplexer standalone_nodelet" output="screen" unless="$(arg fakeyolo)" />
    <!-- Debug -->
    <node pkg="nodelet" type="nodelet" name="darknet_drawer" args="load darknet_multiplexer/DarknetDrawer standalone_nodelet" output="screen"/>
    <!-- Get Darknet Classes Server -->
    <node pkg="nodelet" type="nodelet" name="darknet_get_classes" args="load darknet_multiplexer/GetClasses standalone_nodelet" output="screen"/>
    <!-- Darknet -->
    <node pkg="nodelet" type="nodelet" name="darknet_ros" args="load darknet_ros/YoloObjectDetector standalone_nodelet" output="screen" unless="$(arg fakeyolo)">
        <remap from="darknet_ros/bounding_boxes" to="cusub_perception/darknet_ros/bounding_boxes" />
        <remap from="/camera/rgb/image_raw"       to="cusub_perception/darknet_multiplexer/out"/>
    </node>
    <include file="$(find gazebo_drivers)/launch/fakeyolo.launch" if="$(arg fakeyolo)" >
      <arg name="config_filename" value="fakeyolo_2019.yaml" />
      <arg name="show_points" value="$(arg show_image)" />
    </include>

  </group>
</launch>
