<launch>

    <arg name="truth_data" default="false" />

<group if="$(arg truth_data)" >
    <rosparam command="load" file="$(find mapper)/config/sim_truth.yaml" />
    <node name="sim_truth_pub" pkg="mapper" type="sim_truth_pub.py" output="screen" />
    <node name="gazebo_truth_pub" pkg="waypoint_navigator" type="gazebo_gt_localizer.py" />
</group>

    <node name="mapper" pkg="mapper" type="mapper.py" output="screen">
        <param name="namespace_odom" value="leviathan/description"/>
    </node>

</launch>
