<?xml version="1.0"?>

<model>
  <name>Crucifix Platform</name>
  <version>1.0</version>
  <sdf version='1.6'>crucifix_platform.sdf</sdf>

  <author>
    <name>Michael Marques</name>
    <email>dryerzinia@gmail.com</email>
  </author>

  <description>
    Crucifix Platform
  </description>
</model>
