<launch>

	<!-- <arg name="setpoint" default="true" /> -->
	<arg name="pid_type" default="real" />
	<arg name="subname" default="leviathan"/>

	<rosparam command="load" file="$(find motor_controllers)/conf/$(arg subname).yaml" />

	<node name="pose_pid" pkg="motor_controllers" type="Pose_PID.py" output="screen"/>
	<node name="pid_pololu" pkg="motor_controllers" type="PID_Pololu_matrix.py" output="screen"/>

	<!-- DEPTH -->
	<node pkg="topic_tools" type="mux" name="depth_mux" ns="cusub_common/motor_controllers" args="mux/depth/control_effort pid/depth/control_effort cv/depth/control_effort">
		<remap from="mux" to="depth_mux"/>
		<param name="initial_topic " value="pid/depth/control_effort" />
	</node>
	<node name="pid" pkg="pid" type="controller" ns="cusub_common/motor_controllers/pid/depth" >
		<rosparam command="load" file="$(find motor_controllers)/conf/$(arg pid_type)_depth.yaml" />
		<param name="rate" value="25" />
		<param name="upper_limit" value="100" />
		<param name="lower_limit" value="-100" />
		<param name="diagnostic_period" value="0.25" />
		<param name="max_loop_frequency" value="25.0" />
		<param name="min_loop_frequency" value="25.0" />
	</node>

	<!-- PITCH -->
	<node name="pid" pkg="pid" type="controller" ns="cusub_common/motor_controllers/pid/pitch" >
		<rosparam command="load" file="$(find motor_controllers)/conf/$(arg pid_type)_pitch.yaml" />
		<param name="rate" value="25" />
		<param name="upper_limit" value="100" />
		<param name="lower_limit" value="-100" />
		<param name="diagnostic_period" value="0.25" />
		<param name="max_loop_frequency" value="25.0" />
		<param name="min_loop_frequency" value="25.0" />
	</node>

	<!-- ROLL -->
	<node name="pid" pkg="pid" type="controller" ns="cusub_common/motor_controllers/pid/roll" >
		<rosparam command="load" file="$(find motor_controllers)/conf/$(arg pid_type)_roll.yaml" />
		<param name="rate" value="25" />
		<param name="upper_limit" value="100" />
		<param name="lower_limit" value="-100" />
		<param name="diagnostic_period" value="0.25" />
		<param name="max_loop_frequency" value="25.0" />
		<param name="min_loop_frequency" value="25.0" />
	</node>

</launch>
